In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/sinch/AppData/Local/Packages/5319275A.WhatsAppDesktop_cv1g1gvanyjgm/LocalState/sessions/63139AC3A9C7AEE1A04DBF14E9D0E721C30A7F84/transfers/2026-04/DS_Projects/student_performance_regression.csv" , encoding='ISO-8859-1')

In [3]:
data

,hours_studied,attendance_percent,assignments_completed,mock_test_score,participation_level,final_score
0,7,86,5,68,5,119.277018
1,7,75,9,70,3,117.229348
2,2,93,5,43,1,63.597048
3,5,91,8,57,5,100.436075
4,7,85,1,59,5,102.851851
...,...,...,...,...,...,...
495,5,79,5,64,2,88.421832
496,6,86,2,62,5,106.355570
497,1,65,1,51,2,59.363726
498,4,86,9,73,5,116.318664
499,2,68,1,75,5,78.926216

In [4]:
data.head()

,hours_studied,attendance_percent,assignments_completed,mock_test_score,participation_level,final_score
0,7,86,5,68,5,119.277018
1,7,75,9,70,3,117.229348
2,2,93,5,43,1,63.597048
3,5,91,8,57,5,100.436075
4,7,85,1,59,5,102.851851

In [5]:
data.tail()

,hours_studied,attendance_percent,assignments_completed,mock_test_score,participation_level,final_score
495,5,79,5,64,2,88.421832
496,6,86,2,62,5,106.355570
497,1,65,1,51,2,59.363726
498,4,86,9,73,5,116.318664
499,2,68,1,75,5,78.926216

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   hours_studied          500 non-null    int64
 1   attendance_percent     500 non-null    int64
 2   assignments_completed  500 non-null    int64
 3   mock_test_score        500 non-null    int64
 4   participation_level    500 non-null    int64
 5   final_score            500 non-null    float64
dtypes: float64(1), int64(5)
memory usage: 23.6 KB

In [7]:
data.describe()

,hours_studied,attendance_percent,assignments_completed,mock_test_score,participation_level,final_score
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,4.152000,79.738000,4.950000,66.242000,3.034000,90.069004
std,2.000224,11.096288,2.660386,15.822647,1.408834,15.067186
min,1.000000,60.000000,1.000000,40.000000,1.000000,47.528720
25%,2.000000,71.000000,2.000000,52.000000,2.000000,79.579426
50%,4.000000,80.000000,5.000000,65.000000,3.000000,89.394961
75%,6.000000,88.000000,7.000000,80.000000,4.000000,100.423233
max,7.000000,99.000000,9.000000,94.000000,5.000000,132.941860